body {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    background-color: #f3f3f3;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%231D4D2B" fill-opacity="1" d="M0,224L48,197.3C96,171,192,117,288,96C384,75,480,85,576,112C672,139,768,181,864,192C960,203,1056,181,1152,165.3C1248,149,1344,139,1392,133.3L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>');
    background-size: cover;
}
    
  #root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .box {
    width: calc(20% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
    cursor: pointer;
  }
  
  .box h3 {
    color: #4d4d4d;
    font-size: 20px;
    margin: 0;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 4px rgba(173, 101, 101, 0.2);
}

.img-box {
    margin: 20px 0;
}

.images {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.images:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(173, 101, 101, 0.2);
}


.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom h3 {
    color: #91764a;
    font-size: 16px;
    margin-left: 30px;
}

.bottom h2 {
    color: #f39c12;
    font-size: 12px;
    margin-right: 20px;
}


 
/* CAATEGORI */
  
  #category {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .dropdown {
    display: block;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
  }

  .dropdown .drop {
    margin-bottom: 10px;
    cursor: none;
    background-color: #d6c3ac;
    color: #2e0e07;
  }

  #category button {
    background-color: #dc953d;
    color: #2e0e07;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  #category button:hover {
    background-color: #d47a2c;
  }
  

  

 /* FILTER  */
  #filter {
    display: flex;
    justify-content: center;
    padding: 5px;
    border: 1px solid #4f4f4f33;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #e7e7e7;
    width: 60%;
    margin: 0 auto;
}

#filter > * {
    margin: 5px;
}

#filter input[type="number"],
#filter select {
    background-color: rgba(159, 172, 86, 0.373);
    padding: 10px;
    border: none;
    border-radius: 5px;
    flex: 1;
    max-width: 150px;
}

#filter select {
    flex: 2;
    margin-right: 10px;
    max-width: 200px;
}

#filter button {
    padding: 10px 20px;
    background-color: #8a7e70;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#filter button:hover {
    background-color: rgb(114, 73, 24);
}


@media screen and (max-width: 768px) {
    #root {
        flex-direction: column;
        align-items: center;
      }
      
      .box {
        width: 70%;
      }

    #category {
    flex-direction: column;
    align-items: center;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 160px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    border: none;
    background: none;
    text-align: left;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .dropdown-content button:hover {
    background-color: #ccc;
  }
  
  .dropdown-content button.active {
    background-color: #007bff;
    color: white;
  }

    #filter {
        flex-direction: column;
        align-items: stretch;
    }

    #filter input[type="number"],
    #filter select {
        margin: 5px 0;
        max-width: none;
    }

    #filter select {
        margin-right: 0;
        width: 100%;
    }
}
